<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSLCOSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/WSLCO.asmx" binding="basicHttpBinding"
                bindingConfiguration="WSLCOSoap" contract="WS.WSLCOSoap" name="WSLCOSoap" />
        </client>
    </system.serviceModel>
    <appSettings file="">
      <clear />
      <add key="hora" value="10" />
      <add key="minutos" value="40" />
    </appSettings>
</configuration>